body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#modalList {
  list-style: none;
}

li {
  list-style: none;
}

.modal-title {
  text-align: center;
}

#count-down {
  text-align: center;
}

.guessArea {
  padding-bottom: 25px;
  margin-bottom: 5px;
  width: 50%;
  border: 1px solid black;
  display: block;
}
